<%= link_to  products_path do %>
<h1 class="text-red-400 hover:text-red-400 ">Merca2 </h1>
<h1 class="text-green-400 ">prueba </h1>
<%end%>
<%= link_to 'Subir producto', new_product_path %>
<%= link_to t('.categories'), categories_path %>
